<nav class='navbar navbar-expand navbar-light bg-light'>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/home'>Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/books'>Books</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/characters'>Characters</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/houses'>Houses</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>